@charset "shift_jis";

/*
---------------------------------------------------------------------------
■制作元：テンプレートパーティー
■URL：http://template-party.com/
---------------------------------------------------------------------------*/

body {
	color: #666666;	/*全体の文字色*/
	margin: 0px;
	padding: 0px;
	text-align: center;
	font: 75%/2 "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";	/*全体の文字サイズ、行間、フォント*/
	background: #e8c5c5 url(../img/tp_cafe_red/bg.gif) repeat-x center top;	/*全体の背景色、背景画像の読み込み＆X軸(横軸)リピート＆上部に配置*/
}
body#top {
	background: #e8c5c5 url(../img/tp_cafe_red/bg_top.gif) repeat-x center top;	/*トップページ用の設定*/
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style-type: none;
}
img {
	border: none;
}
input,textarea,select {
	font-size: 1em;
}
form {
	margin: 0px;
}
table {
	border-collapse:collapse;
	font-size: 100%;
	border-spacing: 0;
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #666666;	/*リンクテキストの色*/
}
a:hover {
	color: #e80000;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したままがいいならこの１行削除。*/
}

/*コンテナー（HPを囲むブロック。）
---------------------------------------------------------------------------*/
#container {
	text-align: left;
	width: 980px;	/*コンテナー幅*/
	margin-right: auto;
	margin-left: auto;
}

/*ヘッダー（ロゴやメインメニューが入っている最上段ブロック）
---------------------------------------------------------------------------*/
#header {
	width: 100%;
	height: 150px;	/*ヘッダーの高さ*/
	background: url(../img/tp_cafe_red/header_bg.jpg) no-repeat;	/*ヘッダー背景画像*/
	position: relative;
	margin-bottom: 30px;
}
/*トップページのヘッダー設定*/
#top #header {
	height: 370px;	/*ヘッダーの高さ*/
	background: url(../img/tp_cafe_red/header_bg_top.jpg) no-repeat;	/*ヘッダー背景画像*/
	margin-bottom: 0px;
}
/*h1タグ設定*/
#header h1 {
	font-size: 10px;	/*文字サイズ*/
	position: absolute;
	right: 0px;		/*ヘッダーブロックに対して右から0pxの位置に配置*/
	bottom: 10px;	/*ヘッダーブロックに対して下から10pxの位置に配置*/
}
/*h1タグのリンクテキストの設定*/
#header h1 a {
	text-decoration: none;
	font-weight: normal;
	color: #e80000;	/*文字色*/
}

/*メインメニュー
---------------------------------------------------------------------------*/
/*メニューブロック全体の設定*/
ul#menu {
	height: 110px;
	width: 520px;
	position: absolute;
	top: 0px;	/*ヘッダーブロックに対して上から0pxの位置に配置*/
	right: 0px;	/*ヘッダーブロックに対して右から0pxの位置に配置*/
}
/*メニュー１個ごとの設定*/
ul#menu li {
	float: left;
	display: inline;
	margin-left: 20px;	/*メニュー同士の余白*/
}

/*コンテンツ（左右のブロックとフッターを囲むボックス）
---------------------------------------------------------------------------*/
#contents {
	clear: left;
	width: 100%;
}

/*メインコンテンツ（右側ブロック）
---------------------------------------------------------------------------*/
#main {
	float: right;	/*メインコンテンツを右(right)に回り込み*/
	width: 720px;	/*メインコンテンツ幅*/
}
.c1 #main {
	float: none;
	width: 100%;
}
/*h2タグ設定*/
#main h2 {
	font-size: 120%;	/*文字サイズ*/
	color: #FFFFFF;		/*文字色*/
	clear: both;
	border-top: 4px solid #FFFFFF;	/*上の線の幅、線種、色*/
	background: #e80000;		/*背景色*/
	padding: 4px 0px 4px 10px;	/*左から、上、右、下、左への余白*/
}
/*h2タグ設定*/
#main h3 {
	font-size: 100%;	/*文字サイズ*/
	color: #e80000;		/*文字色*/
	background: #FFF;	/*背景色*/
	clear: both;
	border-bottom: 1px dotted #e80000;	/*下の線の幅、線種、色*/
	border-left: 4px solid #e80000;		/*左の線の幅、線種、色*/
	padding: 3px 0px 3px 5px;	/*左から、上、右、下、左への余白*/
}
/*段落タグの余白設定*/
#main p {
	padding: 0.5em 10px 1em;	/*左から、上、左右、下への余白*/
}

/*メインコンテンツ内box1設定。トップページとmenuページにて使用。
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
#main .box1 {
	width: 200px;	/*ボックスの幅*/
	height: 250px;	/*ボックスの高さ*/
	float: left;
	display: inline;
	padding: 12px;	/*ボックス内の余白*/
	overflow: hidden;
	background: #FFF;	/*背景色*/
	border: 1px solid #e80000;	/*枠線の幅、線種、色*/
	margin-left: 10px;	/*ボックス同士の左右間の余白*/
	margin-bottom: 1em;	/*ボックス同士の上下間の余白*/
}
.c1 #main .box1 {
	margin-left: 15px;
}
/*ボックス内の太字設定*/
#main .box1 strong {
	color: #e80000;	/*文字色*/
}
/*段落タグ設定*/
#main .box1 p {
	padding: 0px;
	font-size: 11px;	/*文字サイズ*/
}

/*サブコンテンツ（左側ブロック）
---------------------------------------------------------------------------*/
#sub {
	float: left;	/*サブコンテンツを左(left)に回り込み*/
	width: 220px;	/*サブコンテンツ幅*/
}
.c1 #sub {
	display: none;
}
/*h3タグ設定*/
#sub h3 {
	font-size: 100%;	/*文字サイズ*/
	color: #e80000;		/*文字色*/
	background: #FFF;	/*背景色*/
	border: 1px solid #e80000;	/*枠線の幅、線種、色*/
	text-align: center;	/*文字をセンタリングする設定*/
	padding-top: 8px;
	padding-bottom: 8px;
}

/*サブコンテンツ内box1設定
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
#sub .box1 {
	background: #FFF;	/*背景色*/
	border: 10px solid #e80000;	/*枠線の幅、線種、色*/
	padding: 5px;	/*ボックス内の余白*/
}
/*ボックス内のリンクテキスト設定*/
#sub .box1 a {
	color: #e80000;	/*文字色*/
}

/*サブメニュー
---------------------------------------------------------------------------*/
/*サブメニュー１個あたりの設定*/
#sub ul.submenu li a {
	display: block;
	text-decoration: none;
	width: 220px;
	border-bottom: 1px solid #e80000;	/*下線の幅、線種、色*/
	text-align: center;	/*センタリング*/
}
/*マウスオン時*/
#sub ul.submenu li a:hover {
	color: #FFFFFF;			/*マウスオン時の文字色*/
	background: #e80000;	/*マウスオン時の背景色*/
}
/*box1内のサブメニュー設定*/
#sub .box1 ul.submenu li a {
	width: 190px;
	border-bottom: 1px solid #e80000;	/*下線の幅、線種、色*/
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
#main .new {
	overflow: auto;	/*iframe風に見せる設定。全部表示させておきたいならこの１行と下のheightを削除。*/
	height: 150px;	/*ブロックの高さ*/
	width: 710px;
	padding-left: 10px;
}
.c1 #main .new {
	width: 970px;
}
#main .new dl {
	clear: left;
	width: 690px;
	border-bottom: 1px solid #999;	/*日付ごとに入る下線の幅、線種、色*/
	overflow: hidden;
}
.c1 #main .new dl {
	width: 950px;
}
#main .new dt {
	font-weight: bold;
	float: left;
	width: 100px;
}
#main .new dd {
	float: left;
	width: 590px;
}
.c1 #main .new dd {
	width: 850px;
}
#main .new dd img {
	vertical-align: middle;
}
*html #main .new dd img {
	margin-top:0.5em;
	vertical-align: baseline;
}

/*フッター（copyrightなど入っているボックス）
---------------------------------------------------------------------------*/
#footer {
	text-align: right;	/*右寄せする設定*/
	clear: both;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}
#footer a {
	text-decoration: none;
}

/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 700px;	/*テーブル幅*/
	margin-right: auto;
	margin-left: auto;
	background: #FFF;	/*テーブル内の背景色*/
}
.c1 .ta1 {
	width: 960px;
}
.ta1, .ta1 td, .ta1 th{
	border: 1px solid #999;	/*テーブルの枠線の幅、線種、色*/
	line-height: 2;
}
/*テーブル内の右側*/
.ta1 td{
	width: 457px;
	padding: 10px;
}
.c1 .ta1 td{
	width: 717px;
}
/*テーブル内の左側の見出し部分*/
.ta1 th{
	width: 200px;
	padding: 10px;
	text-align: center;
	background-color: #E5E5E5;	/*背景色*/
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi{
	width: auto;
	text-align: left;
	color: #FFFFFF;			/*文字色*/
	background: #e80000;	/*背景色*/
}

/*その他
---------------------------------------------------------------------------*/
.look {
	background-color: #FFFFFF;
}
.mb1em {
	margin-bottom: 1em;
}
.clear {
	clear: both;
}
ul.disc {
	padding: 0em 25px 1em;
	list-style: disc;
}
.color1 {
	color: #e80000;
}
.pr {
	font-size: 10px;
}
.btn {
	font-size: 13px;
}
.wl {
	width: 96%;
}
.ws {
	width: 50%;
}
.c {
	text-align: center;
}
.osusume {
	background: #FFF url(../img/tp_cafe_red/mark_osusume.gif) no-repeat right bottom !important;
}
